@charset "utf-8";
#doc{
    padding-top: 1em;
}
.ft{
    text-align:center;
    margin-top: 1em;
}
#user_nav {
    float: right;
}
h1{
    text-align:center;
    font-size:x-large;
}
#toggleForm{
    display: none;
    text-indent: 3em;
    background-color:#66CCFF;
}
#main_table{
	width:100%;
}
#main_table tr.header{
	background-color:#CCCC99;
	font-weight:bolder;
}
#main_table td{
	border-bottom:dotted 1px silver;
	padding-bottom:5px;
	padding-top:5px;
}
#add_table{
	width:100%;
	border:solid 1px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	border-collapse:collapse;
	color:#333333;
}
#smileys{
	display:none;
}
a:link
{
	color:silver;
	text-decoration:none;
}
a:hover{
	color:#FFCC33;
}
a:visited{
	text-decoration:none;
}
.pointer {
	cursor:pointer;
}
#smileysTable{
    border: solid 1px #66CCFF;
}
#smileysTable td{
    padding: 1px;
}