@charset "utf-8";
#doc{
    padding-top: 1em;
}
.ft{
    text-align:center;
    margin-top: 1em;
}
#user_nav {
    float: right;
}
h1{
    text-align:center;
    font-size:x-large;
}
#toggleForm{
    display: none;
    text-indent: 3em;
}
#toggleForm span{
    background-color:#66CCFF;
}
#main_table{
	width:100%;
}
#main_table tr.header{
	background-color:#CCCC99;
	font-weight:bolder;
}
#main_table td{
	border-bottom:dotted 1px silver;
	padding-bottom:5px;
	padding-top:5px;
}
#main_table td.pager
{
	border-bottom:none;
}
#add_table{
	width:700px;
	border:solid 1px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	border-collapse:collapse;
	color:#333333;
}
#add_table td.alignright
{
	text-align:right;
	width:100px;
}
#main_table td.nickname
{
	width:100px;
}
#main_table td.message
{
	width:450px;
}
#add_table td.alignleft
{
	width:350px;
	text-align:left;
}
.left
{
	text-align:left;
}
.center{
	text-align:center;
}
.botton
{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	margin-top:10px;
	font-size:12px;
	text-align:center;
}
a:link
{
	color:silver;
	text-decoration:none;
}
a:hover{
	color:#FFCC33;
}
a:visited{
	text-decoration:none;
}
.pointer {
	cursor:pointer;
}