@charset "utf-8";
/* CSS Document */
body{
text-align:center;
margin:0 auto;
}
p{
line-height: 16px;
}
#container{
background-color:white;
margin-top:15px;
padding-top:10px;
padding-bottom:5px;
margin-bottom:20px;
width:80%;
margin:0 auto;
}
#container2{
background-color:white;
margin-top:15px;
padding-top:10px;
margin-bottom:20px;
/*width:90%;*/
margin:0 auto;
}
h1
{
/*color:#6699FF;*/
color:#CCCC99;
text-align:center;
}
tr.header
{
background-color:#CCCC99;
font-size:18px;
}
tr.message
{
/*background-color:#CCCC99;*/
font-size:12px;
}
tr.admin_message
{
background-color:#FFCC99;
font-size:12px;
}
#table1
{
width:700px;
margin-left:auto;
margin-right:auto;
border-bottom-style:inset;
table-layout:fixed;
word-break:break-all;
}
#table2
{
width:700px;
/*width:80%;*/
margin-left:auto;
margin-right:auto;
border-bottom-style:inset;
table-layout:fixed;
word-break:break-all;
}
td.l
{
text-align:right;
width:100px;
}
td.ls
{
width:100px;
}
td.m
{
width:450px;
}
td.s
{
width:350px;
text-align:left;
}
.left
{
text-align:left;
}
#botton
{
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
font-size:12px;
text-align:center;
}
a:link
{
color:#66CCFF;
}
a:hover{
color:#FFCC33;
}

