body{
text-align:center;
}
#lay
{
margin: 0px auto;
border:dashed;
border-width:1px;
border-color:#FFCC66;
margin-top:50px;
margin-left:auto;
margin-right:auto;
width:600px;
height:470px;
text-align:center;

padding-top:10px;
/*padding-bottom:20px;*/
}
#buttom_div
{
margin-top:10px;
}